 body {
    font-family: 'Catamaran', sans-serif;
    margin: 0px;
    color: #425757;
}

.login-header {
    text-align: center;
}

.login-btn {
    margin: 8px;
    margin-top: 20px;
    width: 160px;
    background-color: #9db1b1
}

#add-plant-btn {
    margin: 8px;
    margin-top: 16px;
    width: 160px;
    background-color: #9db1b1
}

#just-added {
    font-weight: 600;
    font-style: normal;
}

#last-plant {
    font-style: italic;
}

.dash-header {
    margin-left: 6%;
    text-align: left;
}
/*
.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    margin-top: 20px;
    width: 70px;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.galleryImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
}

.smallImage {
    height: 250px;
    width: 250px;
    object-fit: cover;
    overflow: hidden;
}

.dashDiv {
    min-width: 400px;
    width: 200px;
    /* padding-left: 1vw;
    padding-right: 1vw; */
    padding-bottom: 20px;
}


.dashButton {
    font-size: 14px;
    margin-top: 8px;
    background-color: #9db1b1;
    color: #fff;
    width: 160px;
    height: 40px;
}

button {
    background-color: #425757;
    border-radius: 4px;
    border: none;
    color: #fff;
    width: 65%;
    height: 30px;
}

.add-plants-btn {
    background-color: #425757;
    border: none;
    color: #fff;
    width: 80%;
    height: 40px;
}

.logout-button {
    background-color: transparent;
    margin-left: 8px;
    width: 8%;
    margin-top: 30px;
    color: inherit;
}

#dropdown-menu {
    width: 120px;
    margin-top: 14px;
    color: #f2f2f2;
    background-color: #9db1b1;
    text-transform: capitalize !important;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .25px;
}

#dropdown-menu:hover {
    color: #425757;
}

.plant-header {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 24px;
}

.plant-subheader {
    margin: 0px;
    font-style: italic;
    font-size: 16px;
}

.room {
    margin: 0px;
    font-size: 16px;
}

.plant-info {
    color: #9db1b1;
    margin: 0px;
}

.light-spacing {
    margin-left: 4px;
}

.remove-button {
    margin-top: 8px;
}

.footer {
    text-align: center;
    color: #9db1b1;
    font-size: 8px;
}

.lemon {
    padding-right: 3px;
}

#plantCount {
    text-align: right;
    padding-right: 6%;
}
#plantHeader {
    text-align: center;
    font-size: 30px;
    margin: 4%;
}

#about-div {
    padding: 4%;
}
#account-div {
    padding: 4%;
}

.float-left {
    float: left;
}
